.App {
  text-align: center;
}
.grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
header {
  background-color: #576161;
  box-shadow: 0 0 10px black;
  padding: 20px;
  height: 40px;
  grid-column: 1/5;
  margin-bottom: 40px;
}
.main {
  width: 1000px;
  margin: 0 auto;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-2 h1 {
  grid-column: 2;
  color: #5dc72d;
}
.grid-2 input {
  grid-column: 2;
}
.grid-2 div {
  grid-column: 2;
  display: flex;
  justify-content: space-evenly;
}
.grid-2>div button {
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #a2a2a2;
  color: white;
  background-color: #737572;
}
.grid-2>div>button:first-child {
  background-color: #5dc72d;
}
.grid-2>div>button:first-child:hover {
  box-shadow: 0 0 5px #5dc72d;
  background-color: #4daa22;
  border-color: white;
  cursor: pointer;
}
.grid-2>div>button:last-child:hover {
  box-shadow: 0 0 5px black;
  background-color: #5d5f5d;
  border-color: white;
  cursor: pointer;
}
.grid-2 input {
  box-shadow: 0 0 4px black;
  padding: 8px;
  border-radius: 4px;
  border: 0;
}
.border-add {
  border: 1px solid #5dc72d;
  border-radius: 4px;
  padding: 20px;
}
.errorMsg {
  box-shadow: 0 0 4px #f44336;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  grid-column: 2;
  background-color: #f44336d4;
  color: white;
}
